*.o
*.bin
*.cap
#before version 1.8.2, git does not support ** to expand all level of subdirectory.
#so we list all level here
test/*/*/*/*/Android.mk
test/*/*/*/Android.mk
test/*/*/Android.mk
test/*/Android.mk
test/Android.mk
*.log
*.patch
*.cmd
*.d
*.depend
*.swp
*.bak
*.xdb
*.elf*
*.dump
*.dmp
*.img
*.ko
*_bak.c
*.map
*.a
*.symvers
*.order
.*
!.gitignore
*.mod.c
cscope*
tags
*.old
*.org
*.tmp
*.so
*.new
README.md
